* {
    margin: 0;
    padding: 0;
}

#app {
    position: absolute;
    left: 50%;
    top: 1%;
    margin-left: -500px;
    width: 1000px;
    height: 850px;
    background-color:#f1f1f1;
}

.title {
    text-align: center;
    width: auto;
    height: 100px;
    margin-top: 50px;
    color: purple; 
}

/* 背景修改 */
.detail {
    text-align: center;
    background-color: white;
    border: 1px solid #f1f1f1;
    width: 500px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
}

.detail input {
    margin-bottom: 30px;
    margin-top: 20px;
}

.detail  p {
    margin-top: 10px;
    font-size: 30px;

}

#inputVa {
    width: 500px;
    height: 40px;
    font-size: 30px;
    border: 0;
    text-align: center;
}

.list {
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
}

.list:hover {
    background-color: bisque;
}

.clickbutton {
    border: 1px solid red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor:pointer;
    background-color: #fff;
}